{% load static %}
<footer class="bg-black align-text-bottom "  >

    <!-- Grid container -->
    <div class="container p-4" >
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-1 list text-white">
                    <h5 class="text-uppercase">Контакты</h5>
                    <ul class="list-unstyled mb-0 ">
                        <li>
                            <a href="tel:88008888888" class="text-white"> 8 (800) 888-88-88</a>
                        </li>
                            <a href="" class="text-white" data-toggle="modal"  onclick="openFBModal(1);">Обратная связь</a>

                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-1 text-white">
                    <h5 class="text-uppercase">Сервисы</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Конфигуратор</a>
                        </li>
                        <li>
                            <a href="{% url 'test_view' 1 %}" class="text-white">Подборка ПК</a>
                        </li>
                        <li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-1 text-white">
                    <h5 class="text-uppercase">Готовые сборки</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Сборки пользователей</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Сборки сервиса</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-1 text-white">
                    <h5 class="text-uppercase">Комплектующие</h5>

                    <ul  class="list-unstyled ul-col  mb-0 " >
                        <li>
                            <a href="{%  url 'video' %}" class="text-white text-truncate d-inline-block" style="width:100%;">Видеокарта</a>
                        </li>
                        <li>
                            <a href="{% url 'proc' %}" class="text-white text-truncate d-inline-block " style="width: 100%">Процессор</a>
                        </li>
                        <li>
                            <a href="#" class="text-white text-truncate d-inline-block "  style="width: 100%;">Материнская плата</a>
                        </li>
                        <li>
                            <a href="#" class="text-white text-truncate d-inline-block" style="width: 100%">Охлаждение</a>
                        </li>
                        <li>
                            <a href="#" class="text-white text-truncate d-inline-block" style="width: 100%;">Оперативная память</a>
                        </li>
                        <li>
                            <a href="#" class="text-white text-truncate d-inline-block" style="width: 100%;">Корпус</a>
                        </li>
                        <li>
                            <a href="#" class="text-white text-truncate d-inline-block" style="width: 100%;">Блок питания</a>
                        </li>
                        <li>
                            <a href="#" class="text-white text-truncate d-inline-block" style="width: 100%;">Накопитель</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2);" >
        © 2021 Copyright
        <a class="text-white" href="#"></a>
    </div>
    <!-- Copyright -->
    {% include 'assembly/modal_fb.html' %}
</footer>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/anchor.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/feedback.js' %}"></script>
<script src="{% static 'js/login-register.js' %}"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>

