 {% load static %}
    <div class="owl-carousel owl-theme">
        <div class="owl-slide d-flex align-items-center cover" style="background-image: url({% static 'img/slider/test1.jpg' %}); ">
            <div class="container"  >
                <div class="row justify-content-center justify-content-md-start">
                    <div class="col-10 col-md-6 static">
                        <div class="owl-slide-text owl-slide-title-color">
                            <h2 class="owl-slide-animated owl-slide-title" >The bedding was hardly able to cover it</h2>
                            <div class="owl-slide-animated owl-slide-subtitle mb-3 owl-slide-description-color">
                                One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.
                            </div>
                            <a class="btn btn-primary owl-slide-animated owl-slide-cta" href="" target="_blank" role="button">Подробнее...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/owl-slide-->

        <div class="owl-slide d-flex align-items-center cover" style="background-image: url({% static 'img/slider/test2.jpg' %});">
            <div class="container">
                <div class="row justify-content-center justify-content-md-start">
                    <div class="col-10 col-md-6 static">
                        <div class="owl-slide-text owl-slide-title-color">
                            <h2 class="owl-slide-animated owl-slide-title ">Конфигуратор ПК</h2>
                            <div class="owl-slide-animated owl-slide-subtitle mb-3 owl-slide-description-color">
                                Поможем  определится с компьютером Вашей мечты. Умные алгоритмы подберут лучшие комплектующие по соотношению цена/качество.
                            </div>
                            <a class="btn btn-primary owl-slide-animated owl-slide-cta" href="" target="_blank" role="button">Подробнее...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/owl-slide-->

        <div class="owl-slide d-flex align-items-center cover" style="background-image: url({% static 'img/slider/test3.jpg' %});">
            <div class="container">
                <div class="row justify-content-center justify-content-md-start">
                    <div class="col-10 col-md-6 static">
                        <div class="owl-slide-text owl-slide-title-color">
                            <h2 class="owl-slide-animated owl-slide-title">A collection of textile samples.</h2>
                            <div class="owl-slide-animated owl-slide-subtitle mb-3 owl-slide-description-color">
                                He lay on his armour-like back, and if he lifted his head a little he could see his brown belly.
                            </div>
                            <a class="btn btn-primary owl-slide-animated owl-slide-cta" href="" target="_blank" role="button">Подробнее...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/owl-slide-->
    </div>


        <div class="container">
            <div class="row">
                <div class="col p-5">
                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</p>
                    <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.</p>
                    <a class="btn btn-primary owl-slide-cta" href="" target="_blank" role="button">Get Dummy Text</a>
                </div>
            </div>
        </div>

