 {% load static %}
    <div class="owl-carousel owl-theme">
        <div class="owl-slide d-flex align-items-center cover" style="background-image: url({% static 'img/slider/test6.jpg' %}); ">
            <div class="container"  >
                <div class="row justify-content-center justify-content-md-start">
                    <div class="col-10 col-md-6 static">
                        <div class="owl-slide-text owl-slide-title-color">
                            <h2 class="owl-slide-animated owl-slide-title" >Комплектующие</h2>
                            <div class="owl-slide-animated owl-slide-subtitle mb-3 owl-slide-description-color">
                                Наша система формирует сборки только из новых современных комплектующих. Посмотрите их и убедитесь в этом сами!
                            </div>
                            <a class="btn btn-primary owl-slide-animated owl-slide-cta" href="{% url 'home' %}#item" target="_self" role="button">Подробнее...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/owl-slide-->

        <div class="owl-slide d-flex align-items-center cover" style="background-image: url({% static 'img/slider/test2.jpg' %});">
            <div class="container">
                <div class="row justify-content-center justify-content-md-start">
                    <div class="col-10 col-md-6 static">
                        <div class="owl-slide-text owl-slide-title-color">
                            <h2 class="owl-slide-animated owl-slide-title ">Подбор ПК</h2>
                            <div class="owl-slide-animated owl-slide-subtitle mb-3 owl-slide-description-color">
                                Поможем  определится с компьютером Вашей мечты. Умные алгоритмы подберут лучшие комплектующие по соотношению цена/качество. Попробуйте прямо сейчас, это абсолютно бесплатно!
                            </div>
                            <a class="btn btn-primary owl-slide-animated owl-slide-cta" href="{% url 'test_view' 1 %}" target="_self" role="button">Подробнее...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/owl-slide-->

        <div class="owl-slide d-flex align-items-center cover" style="background-image: url({% static 'img/slider/test7.png' %});">
            <div class="container">
                <div class="row justify-content-center justify-content-md-start">
                    <div class="col-10 col-md-6 static">
                        <div class="owl-slide-text owl-slide-title-color">
                            <h2 class="owl-slide-animated owl-slide-title">Готовые сборки</h2>
                            <div class="owl-slide-animated owl-slide-subtitle mb-3 owl-slide-description-color">
                                У нас много активных пользователей, в связи с чем система предложила множество разлинчых вариантов сборок. Посмотрите их, возможно, Вы найдете то, что ищете!
                            </div>
                            <a class="btn btn-primary owl-slide-animated owl-slide-cta" href="{% url 'all_pc_assembly' %}" target="_self" role="button">Подробнее...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/owl-slide-->
    </div>


        <div class="container">
            <div class="row">
                <div class="col p-4">

                </div>
            </div>
        </div>

