{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% include 'assembly/inc/_head.html' %}
    <title>{% block title %}Характиристика{% endblock %}</title>

</head>
<body style="margin-top: 65px;">
{% include 'assembly/inc/_header.html' %}
<div class="offset-1 flex-row pr-sm-2">
    <br>
    <h1>{%block main_title %}Наименование{% endblock %} </h1>
</div>
<div class="mr-2 ml-2" >
    <div class="row">
        <div class="col-md-4 image-container-sec  " >
                {% block img %}
                {% endblock %}
        </div>
        <div class="col-md-8" style="background-color: #f8f9fa">
                {% block items %}
                {% endblock %}
        </div>
    </div>
    <div class="offset-1" >
    <br>
    <h2>Отзывы</h2>
    </div>
    <div class="container bg-white shadow mb-2" style="min-height: 50vh">
        <h2>Комментарии</h2>
    </div>

</div>

<!--/footer-->
{% include 'assembly/inc/_footer.html' %}
<!--/footer-->

</body>
</html>