{% load static  %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% include 'assembly/inc/_head.html' %}
    <title>Главная страница</title>

</head>
<body style="margin-top: 60px;">
<!--header-->
{% include 'assembly/inc/_header.html' %}
<!--/header-->

<!--/slider-f-->
{% include 'assembly/inc/_slider.html' %}
<!--/slider-f-->


<!--/sub_menu-->
{% include 'assembly/inc/_sub_menu.html' %}
<!--/sub_menu-->

<!--/footer-->
{% include 'assembly/inc/_footer.html' %}
<!--/footer-->

<script src="{% static 'js/slider.js' %}"></script>

</body>
</html>